body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.is-active {
  font-weight: bold;
}

.lines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.lines hr {
  border: none;
  width: 100%;
}

.word-column {
  display: flex;
  flex-direction: column;
  margin: 0 1em 1em 0;
}
