body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.is-active {
  font-weight: bold;
}

.lines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.lines hr {
  border: none;
  width: 100%;
}

.word-column {
  display: flex;
  flex-direction: column;
  margin: 0 1em 1em 0;
}

.word-column__main {
  font-weight: bold;
  font-size: large;
}

.word-column__phonetic {
  color: darkblue;
}

.word-column__verbatim {
  color: #af3a00;
  font-style: italic;
}

/*****/

.header {
  background-color: #FFDA9A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5em;
}

.list-item__lang-main {
  padding: 0 0.5em;
}

.list-item__author {
  padding: 0 0.5em;
}

.list-item__link {
  font-weight: 700;
}

.list-item__date {
  font-size: small;
  padding: 0 1em;
}

.emblica-body {
  padding: 0 0.3em;
}
