body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.is-active {
  font-weight: bold;
}

.lines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.lines hr {
  border: none;
  margin: 0.2em;
  width: 100%;
}

.word-column {
  display: flex;
  flex-direction: column;
  margin: 0 0.3em .5em 0;
}

.word-column__main {
  font-weight: bold;
  font-size: large;
  font-family: "Open Sans", sans-serif;
}

.word-column__phonetic {
  color: darkblue;
  font-family: "Fira Sans", sans-serif;
}

.word-column__verbatim {
  color: #af3a00;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
}

/*****/

.header__manned {
  background-color: #ffda9a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.header__unmanned {
  background-color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em;
}

.list-item__lang-main {
  padding: 0 0.5em;
}

.list-item__author {
  padding: 0 0.5em;
}

.list-item__link {
  font-weight: 700;
}

.list-item__date {
  font-size: small;
  padding: 0 1em;
}

.emblica-body {
  padding: 0 0.3em;
}

.text-title {
  color: #af3a00;
  /* padding: .3em 0; */
}

.text-controls {
  background-color: #ffda9a;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.text-controls__container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  padding-top: 1em;
}

.text-control__removal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-vis-toggles {
  display: flex;
  justify-content: flex-end;
}

.line-vis-toggles label {
  margin-left: 0.5em;
  padding: 0.1em;
}

/*===============================*/

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content.ReactModal__Content--after-open {
  display: flex;
  flex-direction: column;
  position: unset !important;
}
